body{
 background-image: url("http://cdn.pcwallart.com/images/cool-nature-desktop-backgrounds-wallpaper-1.jpg");
  background-repeat: no-repeat;
  background-position: top-center;
}
h1{
  color: white;
  text-align: center;
  font-family: Courier;
  font-size: 45px;
}
p{
  color: white;
  font-family: Arial;
  font-size: 25px;
  width: 770px
}
spam{
  color: red;
}
strong{
  color: yellow;
}

table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: gray;
  
  
}
